<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RemitServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RemitServiceSoap1" />
                <binding name="RemitServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="RemitServiceSoap3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="RemitServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://uat.mutualtrustbank.com/Remit.asmx"
                binding="basicHttpBinding" bindingConfiguration="RemitServiceSoap"
                contract="UATRemitServiceReference.RemitServiceSoap" name="RemitServiceSoap" />
            <endpoint address="https://api.mutualtrustbank.com/Remit.asmx"
                binding="basicHttpBinding" bindingConfiguration="RemitServiceSoap2"
                contract="MTBRemittanceService.RemitServiceSoap" name="RemitServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>